.in-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;
  width: 200px;
}

.border {
  border: 1px solid;
  width: 200px;

}
.input {
  margin-bottom: 20px;

}